body {
  background-color: black;
  color: white;
  padding: 30px;
}

.navbar {
  margin-bottom: 30px;
  background-color: black;
  border: 1px solid black;
}

.navbar ul {
  margin-top: 20px;
}

.row {
  color: #ffd588;
}

.row span {
  color: white;
}

.row h3 {
  color: white;
}

.row h4 {
  padding-top: 15px;
}

.row div {
  padding-left: 50px;
  padding-right: 50px;
}

.section_title small {
  color: white;
}

.jumbotron {
  background-color: black;
}

.jumbotron img {
  width: 80%;
}

footer {
  margin-top: 30px;
}

#social_media ul.list-inline.pull-right li {
  vertical-align: top;
}
